interactions:
- request:
    body: text=Thank+you+for+your+hospitality
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.funtranslations.com/translate/piglatin.json
  response:
    body:
      string: "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\":
        {\n        \"translated\": \"ank-Thay ou-yay or-fay our-yay ospitality-hay
        \",\n        \"text\": \"Thank you for your hospitality\",\n        \"translation\":
        \"pig-latin\"\n    }\n}"
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2
      X-Auth-Status:
      - 'true'
      X-RateLimit-Limit:
      - 5 per hour
      X-RateLimit-Remaining:
      - '5'
    status:
      code: 200
      message: OK
version: 1
